In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
df=pd.read_csv("C:/Users/dell/Downloads/100-days-of-machine-learning-main/day39-knn-imputer/train.csv",usecols=["Age","Pclass","Fare","Survived"])

In [6]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [8]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [9]:
X=df.drop(columns=["Survived"])
y=df["Survived"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [12]:
X_train.head()

     Pclass   Age     Fare
140       3   NaN  15.2458
439       2  31.0  10.5000
817       2  31.0  37.0042
378       3  20.0   4.0125
491       3  21.0   7.2500

In [13]:
from sklearn.impute import KNNImputer,SimpleImputer

In [14]:
knn=KNNImputer(n_neighbors=3,weights="distance")

In [15]:
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [16]:
X_train_trf

array([[ 3.        ,  9.00003581, 15.2458    ],
       [ 2.        , 31.        , 10.5       ],
       [ 2.        , 31.        , 37.0042    ],
       ...,
       [ 3.        , 18.5       ,  7.7333    ],
       [ 3.        , 36.        , 17.4       ],
       [ 2.        , 60.        , 39.        ]])